﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DreamParadise</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Additional CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/antonio-exotic/stylesheet.css" rel="stylesheet">
    <link href="~/css/lightbox.min.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!-- Awesome fonts  -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Lightbox and other JS scripts -->
    <script src="~/js/lightbox-plus-jquery.min.js"></script>
    <script src="~/js/instafeed.min.js"></script>
    <script src="~/js/custom.js"></script>
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div id="logo">
                    <!--<a href="index.html"><img src="images/logo.png" alt="logo"></a>-->
                    <!-- Logo -->
                    <a href="/"><span>Dream</span>Paradise</a>
                </div>
                <!-- Navigation links -->
                <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header page-scroll">
                            <!-- Responsive navigation button -->
                            <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                            <ul class="list-unstyled nav1 cl-effect-10">
                                <!-- Navigation items -->
                                <li><a data-hover="Rooms" asp-action="Rooms" asp-controller="Home"><span>Rooms</span></a></li>
                                <li><a data-hover="Reservations" asp-action="Reservations" asp-controller="Home"><span>Reservations</span></a></li>
                               <li><a data-hover="Rate Us" asp-action="RateHotel" asp-controller="Home"><span>Rate Us</span></a></li>
                                <li><a data-hover="Contact Us"  asp-action="ContactUs" asp-controller="Home"><span>Contact Us</span></a></li>
                                <li><a data-hover="Login" asp-action="LogReg" asp-controller="LogReg"><span>Login</span></a></li>
                                
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- Buttons aligned to the right -->
                <div class="text-right">
                    <!-- Book Now button -->
                    <a asp-action="Booking" asp-controller="Home" class="btn btn-primary mr-2"><i class="fa-solid fa-cart-flatbed-suitcase" style="color: #ffffff;"></i> Book Now</a>
                    <!-- Log Out button -->
                    <form asp-action="Logout" asp-controller="LogReg" method="post" class="d-inline-block">
                        <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i> Logout</button>
                    </form> 
                </div>
            </div>       
        </nav>
    </header>
    <!-- Main content -->
    <div class="container">
        <main role="main" class="pb-3">
            <!-- Render body content -->
            @RenderBody()
        </main>
    </div>
    
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Site-specific JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Optional section for additional scripts -->
    @await RenderSectionAsync("Scripts", required: false)

    <footer>
   <div class="container">
        <div class="copyright">
            &copy; 2024 All right reserved. <strong style="color: black;">Dream</strong><strong style="color: red;">Paradise</strong> - Group Project
        </div>
    </div>
</footer>
</body>
</html>
