@{
    ViewData["Title"] = "Rooms";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Rooms.css">
    <title>Rooms</title>
</head>
<body>
    
<div class="pricingTable">
  <h2 class="pricingTable-title">Find a plan that's right for you.</h2>
  <ul class="pricingTable-firstTable">
    <li class="pricingTable-firstTable_table">
      <h1 class="pricingTable-firstTable_table__header">Bronze Package</h1>
      <p class="pricingTable-firstTable_table__pricing"><span>$</span><span>10</span><span>Month</span></p>
      <ul class="pricingTable-firstTable_table__options">
        <li>Unlimited Listing</li>
        <li>Edit Your Listing</li>
        <li>Approve Reviews</li>
      </ul>
        <a asp-action="Booking" asp-controller="Home"> <button class="pricingTable-firstTable_table__getstart" >Get Started Now</button></a>
    </li>
    <li class="pricingTable-firstTable_table">
      <h1 class="pricingTable-firstTable_table__header" >Gold Package</h1>
      <p class="pricingTable-firstTable_table__pricing"><span>$</span><span>19</span><span>Month</span></p>
      <ul class="pricingTable-firstTable_table__options">
        <li>Unlimited Listing</li>
        <li>Edit Your Listing</li>
        <li>Approve Reviews</li>
        <li>Take Booking Online</li>
        <li>24/7 Support Service</li>
      </ul>
        <a asp-action="Booking" asp-controller="Home"> <button class="pricingTable-firstTable_table__getstart" >Get Started Now</button></a>
    </li>
    <li class="pricingTable-firstTable_table">
      <h1 class="pricingTable-firstTable_table__header"  >Platinum Package</h1>
      <p class="pricingTable-firstTable_table__pricing"><span>$</span><span>49</span><span>Month</span></p>
      <ul class="pricingTable-firstTable_table__options">
        <li>Unlimited Listing</li>
        <li>Edit Your Listing</li>
        <li>Approve Reviews </li>
      </ul>
        <a asp-action="Booking" asp-controller="Home"> <button class="pricingTable-firstTable_table__getstart" >Get Started Now</button></a>
    </li>
  </ul>
</div>
</body>
</html>
